<!DOCTYPE html>
<html lang="en">

<head>
  <title>Swechat</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href="css/style.css" rel="stylesheet"> -->
</head>

<body>
  <h1>Hey bro, Let's hang out!! </h1>
  <ul id="messages"></ul>
  <form id="chatbox">
    <div>
      <p>{{.UserData.name}}</p>
      <textarea id="box" rows="2" cols="5"></textarea>
    </div>
    <div>
      <button id="send">Send</button>
    </div>
  </form>
</body>
<script>
  var socket
  var input = document.getElementById("box")
  var messages = document.getElementById("messages")
  var btn = document.getElementById("send")
  btn.onclick = (e) => {
    e.stopPropagation()
    e.preventDefault()
    if (input.value === "") {
      return
    }
    if (!socket) {
      alert("No socket connection!")
      return
    }
    socket.send(JSON.stringify({"Message": input.value}))
  }
  socket = new WebSocket("ws://{{.Host}}/room")
  socket.onclose = () => {
    alert("Connection has been closed")
  }
  socket.onmessage = (e) => {
    var msg = JSON.parse(e.data)
    const item = document.createElement("li")
    const strong = document.createElement("strong")
    const span = document.createElement("span")
    span.textContent = msg.Message
    strong.textContent =  msg.Name + ": "
    item.appendChild(strong)
    item.appendChild(span)
    messages.appendChild(item)
  }
</script>

</html>
